@use "../../assets/Font/Font";
@use "../../assets/Variables/Variables.scss";

.loginWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginWrapper h1 {
    font-family: Font.$Montserrat;
    font-size: 25px;
}