@use "../../assets/Font/Font.scss";
@use "../../assets/Variables/Variables.scss";

.moduleWrapper {
    padding-top: 100px;
    width: 100%;

    .moduleToolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        h1 {
            font-family: Font.$Montserrat;
            font-size: 30px;
            margin: 0;
        }
    }
}