@use "../../assets/Font/Font.scss";
@use "../../assets/Variables/Variables.scss";


.modalWrapper {
    padding: 20px;
}

.modalWrapper h2 {
    display: flex;
    align-items: center;
    font-family: Font.$Montserrat;
    color: Variables.$secondary2;
    font-weight: 600;

    svg {
        padding-right: 10px;
    }
}

.modalWrapper p {
    font-family: Font.$Montserrat;
    font-size: 15px;
    // padding-bottom: 20px;
}