/** neutral colors **/
$nuetral1: #FFFFFF;
$nuetral2:#EBF0F0;
$nuetral3: #CACFCF;
$nuetral4: #898C8C;
$nuetral5: #5A5C5C;
$nuetral6: #313232;

/** backgrounds **/
$black: #000000;

/** success colors **/
$success1: #E0F8E1;
$success2: #2DCF34;

/** error colors **/
$error1: #FFE4E4;
$error2: #FF4747;

/** warning colors **/
$warning1: #FFF2E4;
$warning2: #FDAA4C;

/** primary colors **/
$primary1: #F7E6F2;
$primary2: #803667;
$primary3: #592648;

/** secondery colors **/
$secondary1: #214E85;
$secondary2: #F0BC24;
$secondary3: #0F9299;
$secondary4: #C7D3E0;
$secondary5: #FBEEC8;
$secondary6: #C3E4E5;